<div id="site-header">
  <p class="site-header-title">
    <%= link_to "Reddit", root_path %>
  </p>
  <nav class="site-header-nav">
    <ul class="site-header-nav-links">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
    </ul>
  </nav>

</div>